black==22.8.0+computecanada
ipykernel==6.29.2+computecanada
ipython==8.22.1+computecanada
ipywidgets==8.1.2
jupyterlab==4.2.3+computecanada
lightning==2.2.0.post0
lightning-utilities==0.10.1
matplotlib
matplotlib_inline
numpy
pandas
scipy
joblib
pytorch-lightning
tensorboard==2.16.2
tensorboardX==2.6.2.2+computecanada
torch==2.3.1+computecanada
torchmetrics==1.3.1
torchvision==0.18.1+torch23.computecanada
tornado==6.3.3+computecanada
tqdm==4.66.2+computecanada
